//- ** This is a sample of a pug template and how it uses the data passed to it from index.js.

doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body 

        div(class="container")
        a(href="/") Home
       
        h1 Contacts
        .cards 
            each contact in data
                .card 
                    h2.card__name #{contact.properties.firstname}  #{contact.properties.lastname}
                    p.card__email #{contact.properties.email}
                    p.card__property1 #{contact.properties.property1}
                    p.card__property2 #{contact.properties.property2}
                    p.card__property3 #{contact.properties.property3}
                    a(href="/update-cobj?email="+contact.properties.email) Edit  Contact Property